/* .web{
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
} */

.bandera {
  display: flex;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  animation:  
    nudge 5s linear infinite;
  border-radius: 100%;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(20px, 0);
    opacity: 0.3
  }
  
  50% {
    transform: translate(100px, 0);
    opacity: 1;
  }
  
  80% {
    transform: translate(150px, 0);
    opacity: 0.3
  }
}

