<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="main.css"/>
    <link
      rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/geodata/countries/united_states_of_america/united_states_of_america.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/texas/texas.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/virginia/virginia.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/west_virginia/west_virginia.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/alabama/alabama.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/alaska/alaska.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/arizona/arizona.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/arkansas/arkansas.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/california/california.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/colorado/colorado.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/connecticut/connecticut.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/delaware/delaware.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/florida/florida.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/georgia/georgia.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/hawaii/hawaii.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/idaho/idaho.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/illinois/illinois.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/indiana/indiana.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/iowa/iowa.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/kansas/kansas.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/kentucky/kentucky.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/louisiana/louisiana.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/missouri/missouri.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/maine/maine.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/maryland/maryland.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/massachusetts/massachusetts.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/michigan/michigan.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/minnesota/minnesota.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/mississippi/mississippi.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/montana/montana.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/nebraska/nebraska.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/nevada/nevada.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/new_hampshire/new_hampshire.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/new_jersey/new_jersey.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/new_mexico/new_mexico.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/new_york/new_york.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/north_carolina/north_carolina.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/north_dakota/north_dakota.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/ohio/ohio.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/oklahoma/oklahoma.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/oregon/oregon.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/pennsylvania/pennsylvania.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/rhode_island/rhode_island.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/south_carolina/south_carolina.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/south_dakota/south_dakota.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/tennessee/tennessee.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/utah/utah.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/vermont/vermont.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/washington/washington.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/wisconsin/wisconsin.js"></script>
<script src="https://cdn.anychart.com/releases/v8/geodata/usa_states/wyoming/wyoming.js"></script>
    <link rel="icon" href="houseSenateIcon.png"/>
    <title>House Page</title>
  </head>
  <body>
    <!--BodyContainer-->
    <div class="container border" id="app">
      <!--Top Logo + Mail-->
      <div class="row justify-content-between align-items-center mb-3">
          <a class="bandera" href="home-page.html" id="homeLogo"></a>
          <a class="mr-3 text-white text-right" href="mailto:info@tgif.com">
            <i class="fa fa-envelope-o myicon"></i>info&#64;tgif.com</a
          >
      </div>
      <!--Nav-->
      <nav class="navbar navbar-expand-md navbar-light rounded bg-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav justify-content-around">
            <li class="col nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only"></span
              ></a>
            </li>

            <li class=" col nav-item dropdown">
              <a
                class="nav-link dropdown-toggle "
                href="#"
                id="congress"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Congress 113
              </a>
              <div class="dropdown-menu" aria-labelledby="congress">
                <a class="dropdown-item" href="#">House</a>
                <a class="dropdown-item" href="#">Senate</a>
              </div>
            </li>
            <li class=" col nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="attendance"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Attendance
              </a>
              <div class="dropdown-menu" aria-labelledby="attendance">
                <a class="dropdown-item" href="#">House</a>
                <a class="dropdown-item" href="#">Senate</a>
              </div>
            </li>
            <li class=" col nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="loyalty"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Party Loyalty
              </a>
              <div class="dropdown-menu" aria-labelledby="loyalty">
                <a class="dropdown-item" href="#">House</a>
                <a class="dropdown-item" href="#">Senate</a>
              </div>
            </li>
            <li class=" col nav-item">
              <a class="nav-link" href="#">Lesgislators</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="separated"></div>
      <!--InfoPage container-->
      <div class="col separado text-justify">
        <h2 >Congressmen</h2>
        <p>
          <span class="spaced"> </span>The major power of the House is to pass
          federal legislation that affects the entire country, although its
          bills must also be passed by the Senate and further agreed to by the
          U.S. President before becoming law (unless both the House and Senate
          re-pass the legislation with a two-thirds majority in each chamber).
          The House has some exclusive powers: the power to initiate revenue
          bills, to impeach officials (impeached officials are subsequently
          tried in the Senate), and to elect the U.S. President in case there
          is no majority in the Electoral College.
        </p>
        <p>
          Each U.S. state is represented in the House in proportion to its
          population as measured in the census, but every state is entitled to
          at least one representative.
        </p>
      </div>
      <!--Map-->
      <div class="row align-items-center justify-content-center">
        <div id="maps">
        </div>
      </div>
      <!--Filters-->
      <div class="row mb-3 mt-3 align-items-center justify-content-around">
          <span class="col-md-2">Filter by Party: </span>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4 form-check btn btn-secondary">
                <label class=" col-10 form-check-label" for="republican"
                  >Republicans</label
                >
                <input
                  class="col-2 form-check-input "
                  value="R"
                  id="republican" 
                  type="checkbox"
                  v-model="checkedNames"
                  v-on:change="muestraTabla"
                />
              </div>
              <div class="col-md-4 form-check btn btn-secondary">
                <label class="col-10 form-check-label" for="democrat"
                  >Democrats</label
                >
                <input
                class="col-2 form-check-input"
                value="D"
                id="democrat"
                type="checkbox"
                v-model="checkedNames"
                v-on:change="muestraTabla"
                />
              </div>
              <div class="col-md-4 form-check btn btn-secondary">
                <label class="col-10 form-check-label" for="independent"
                  >Independents</label
                >
                <input
                  class="col-2 form-check-input"
                  value="I"
                  id="independent"
                  type="checkbox"
                  v-model="checkedNames"
                  v-on:change="muestraTabla"
                />
              </div>
            </div>
          </div>
          <span class="col-md-2">Filter by State :</span>
          <div class="col-md-2">
            <select
              class="form-control col-5 col-md-5"
              v-model="selected"
              v-on:change="muestraTabla"
              id="stateSelector"
            >
              <option v-for="option in fillSelect" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
        </div>
      <!--Table   To do: Pagination--> 
      <table class="col table text-center" id="house-data">
        <thead>
          <tr>
            <td>Name</td>
            <td>Party</td>
            <td>State</td>
            <td>Seniority</td>
            <td>Votes with party in %</td>
          </tr>
        </thead>
        <tbody>
          <tr is="membered" v-for="member in members" :member="member"></tr>
        </tr>
        </tbody>
      </table>
      <div v-if="tablaVacia" class="text-danger text-center mb-3">
          NO HAY INFORMACION A MOSTRAR
      </div>
      <!--Footer-->
      <div class="row mt-1">
          <footer class="col font-middle">
            <div class=" col page-footer text-center border font-italic rounded">
              &#169; 2019 TGIF | All Right Reserved
            </div>
          </footer>
      </div>
    </div>
    <!--body scriptss -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
