<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="houseSenateIcon.png" />
  <title>House Attendance</title>
</head>
<body>
  <!--BodyContainer-->
  <div class="container border" id="app">
    <!--Top Logo + Mail-->
    <div class="row justify-content-between align-items-center mb-3">
        <a class="bandera" href="home-page.html" id="homeLogo"></a>
        <a class="mr-3 text-white text-right" href="mailto:info@tgif.com">
          <i class="fa fa-envelope-o myicon"></i>info&#64;tgif.com</a
        >
    </div>
    <!--Nav-->
    <nav class="navbar navbar-expand-md navbar-light rounded bg-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav justify-content-around">
            <li class="col nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only"></span
              ></a>
            </li>

            <li class=" col nav-item dropdown">
              <a
                class="nav-link dropdown-toggle "
                href="#"
                id="congress"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Congress 113
              </a>
              <div class="dropdown-menu" aria-labelledby="congress">
                <a class="dropdown-item" href="#">House</a>
                <a class="dropdown-item" href="#">Senate</a>
              </div>
            </li>
            <li class=" col nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="attendance"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Attendance
              </a>
              <div class="dropdown-menu" aria-labelledby="attendance">
                <a class="dropdown-item" href="#">House</a>
                <a class="dropdown-item" href="#">Senate</a>
              </div>
            </li>
            <li class=" col nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="loyalty"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Party Loyalty
              </a>
              <div class="dropdown-menu" aria-labelledby="loyalty">
                <a class="dropdown-item" href="#">House</a>
                <a class="dropdown-item" href="#">Senate</a>
              </div>
            </li>
            <li class=" col nav-item">
              <a class="nav-link" href="#">Lesgislators</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="separated"></div>
    <!--Info + Glance-->
    <div class="row">
      <div class="col-12 col-md-6  text-justify">
          <h2 class="mb-3">Attendance</h2>
          <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house.
            Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most
            cases,
            debates continue even if a majority is not present.</p>

          <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating
            "aye" or
            "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a
            roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In
            the
            case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the
            tiebreaking vote.</p>
      </div>
      <div class="col-12 col-md-6">
          <h2 class="mb-3 text-right">House at a glance</h2>
          <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>Party</th>
                  <th>Number of Reps</th>
                  <th>Avg Voted with Prty in %</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Republicans</td>
                  <td>{{ republicans.length }}</td>
                  <td>{{ avgRepublicans }}</td>
                </tr>
                <tr>
                  <td>Democrats</td>
                  <td>{{ democrats.length }}</td>
                  <td>{{ avgDemocrats }}</td>
                </tr>
                <tr>
                  <td>Independents</td>
                  <td>{{ independents.length }}</td>
                  <td>{{ avgIndependents }}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    <!--Tables Least and Most Engaged-->
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="mb-3 text-right h2size">Least Engaged (Bottom 10% Attendance)</h2>
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Total Votes</th>
              <th>Number of Missed Votes</th>
              <th>% Missed</th>
            </tr>
          </thead>
          <tbody>
              <tr v-for="item in theNLowest">
                  <td> <a :href=item.url>{{item.first_name}} {{item.middle_name || ""}} {{item.last_name}}</a></td>
                <td>{{item.total_votes}}</td>
                <td>{{item.missed_votes}}</td>
                <td>{{item.missed_votes_pct}}</td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="mb-3 text-right h2size">Most Engaged (Top 10% Attendance)</h2>
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Total Votes</th>
              <th>Number of Missed Votes</th>
              <th>% Missed</th>
            </tr>
          </thead>
          <tbody>
              <tr v-for="item in theNGreatest" v-if="item.total_votes!=0" >
                  <td> <a :href=item.url>{{item.first_name}} {{item.middle_name || ""}} {{item.last_name}}</a></td>
                <td>{{item.total_votes}}</td>
                <td>{{item.missed_votes}}</td>
                <td>{{item.missed_votes_pct}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <!--Footer-->
    <div class="row mt-1">
      <footer class="col font-middle">
        <div class=" col page-footer text-center border font-italic rounded">
          &#169; 2019 TGIF | All Right Reserved
        </div>
      </footer>
    </div>
  </div>
  <!--Body Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>